* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	float: left;
}
.col-xs-2 {
	width: 16.66%;
}
.col-xs-push-10 {
	left: 83.33%;
}
/* @media all and (min-width:768px) */
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
	float: left;
}
/* @media all and (min-width:768px) */
.col-sm-2 {
	width: 16.66%;
}
/* @media all and (min-width:768px) */
.col-sm-push-10 {
	left: 83.33%;
}
.col-xs-12 {
	width: 100%;
}
/* @media all and (min-width:992px) */
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
	float: left;
}
/* @media all and (min-width:992px) */
.col-md-2 {
	width: 16.66%;
}
/* @media all and (min-width:992px) */
.col-md-push-10 {
	left: 83.33%;
}
/* @media all and (min-width:992px) */
.col-md-12 {
	width: 100%;
}
/* @media all and (min-width:1200px) */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
	float: left;
}
/* @media all and (min-width:1200px) */
.col-lg-2 {
	width: 16.66%;
}
/* @media all and (min-width:1200px) */
.col-lg-push-0 {
	left: auto;
}
/* @media all and (min-width:1200px) */
.col-lg-12 {
	width: 100%;
}
.cck-components .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.cck-components .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}
/* @media all and (min-width:768px) */
.cck-components .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	float: left;
}
/* @media all and (min-width:992px) */
.cck-components .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left;
}
/* @media all and (min-width:1200px) */
.cck-components .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	float: left;
}
.cck-page .col-lg-1, .cck-page .col-lg-10, .cck-page .col-lg-11, .cck-page .col-lg-12, .cck-page .col-lg-2, .cck-page .col-lg-3, .cck-page .col-lg-4, .cck-page .col-lg-5, .cck-page .col-lg-6, .cck-page .col-lg-7, .cck-page .col-lg-8, .cck-page .col-lg-9, .cck-page .col-md-1, .cck-page .col-md-10, .cck-page .col-md-11, .cck-page .col-md-12, .cck-page .col-md-2, .cck-page .col-md-3, .cck-page .col-md-4, .cck-page .col-md-5, .cck-page .col-md-6, .cck-page .col-md-7, .cck-page .col-md-8, .cck-page .col-md-9, .cck-page .col-sm-1, .cck-page .col-sm-10, .cck-page .col-sm-11, .cck-page .col-sm-12, .cck-page .col-sm-2, .cck-page .col-sm-3, .cck-page .col-sm-4, .cck-page .col-sm-5, .cck-page .col-sm-6, .cck-page .col-sm-7, .cck-page .col-sm-8, .cck-page .col-sm-9, .cck-page .col-xs-1, .cck-page .col-xs-10, .cck-page .col-xs-11, .cck-page .col-xs-12, .cck-page .col-xs-2, .cck-page .col-xs-3, .cck-page .col-xs-4, .cck-page .col-xs-5, .cck-page .col-xs-6, .cck-page .col-xs-7, .cck-page .col-xs-8, .cck-page .col-xs-9 {
	position: relative;
	min-height: 1px;
}
/* @media only screen and (min-width:0px) */
.cck-page .col-lg-1, .cck-page .col-lg-10, .cck-page .col-lg-11, .cck-page .col-lg-12, .cck-page .col-lg-2, .cck-page .col-lg-3, .cck-page .col-lg-4, .cck-page .col-lg-5, .cck-page .col-lg-6, .cck-page .col-lg-7, .cck-page .col-lg-8, .cck-page .col-lg-9, .cck-page .col-md-1, .cck-page .col-md-10, .cck-page .col-md-11, .cck-page .col-md-12, .cck-page .col-md-2, .cck-page .col-md-3, .cck-page .col-md-4, .cck-page .col-md-5, .cck-page .col-md-6, .cck-page .col-md-7, .cck-page .col-md-8, .cck-page .col-md-9, .cck-page .col-sm-1, .cck-page .col-sm-10, .cck-page .col-sm-11, .cck-page .col-sm-12, .cck-page .col-sm-2, .cck-page .col-sm-3, .cck-page .col-sm-4, .cck-page .col-sm-5, .cck-page .col-sm-6, .cck-page .col-sm-7, .cck-page .col-sm-8, .cck-page .col-sm-9, .cck-page .col-xs-1, .cck-page .col-xs-10, .cck-page .col-xs-11, .cck-page .col-xs-12, .cck-page .col-xs-2, .cck-page .col-xs-3, .cck-page .col-xs-4, .cck-page .col-xs-5, .cck-page .col-xs-6, .cck-page .col-xs-7, .cck-page .col-xs-8, .cck-page .col-xs-9 {
	padding-left: 10px;
	padding-right: 10px;
}
/* @media only screen and (min-width:1200px) */
.cck-page .col-lg-1, .cck-page .col-lg-10, .cck-page .col-lg-11, .cck-page .col-lg-12, .cck-page .col-lg-2, .cck-page .col-lg-3, .cck-page .col-lg-4, .cck-page .col-lg-5, .cck-page .col-lg-6, .cck-page .col-lg-7, .cck-page .col-lg-8, .cck-page .col-lg-9, .cck-page .col-md-1, .cck-page .col-md-10, .cck-page .col-md-11, .cck-page .col-md-12, .cck-page .col-md-2, .cck-page .col-md-3, .cck-page .col-md-4, .cck-page .col-md-5, .cck-page .col-md-6, .cck-page .col-md-7, .cck-page .col-md-8, .cck-page .col-md-9, .cck-page .col-sm-1, .cck-page .col-sm-10, .cck-page .col-sm-11, .cck-page .col-sm-12, .cck-page .col-sm-2, .cck-page .col-sm-3, .cck-page .col-sm-4, .cck-page .col-sm-5, .cck-page .col-sm-6, .cck-page .col-sm-7, .cck-page .col-sm-8, .cck-page .col-sm-9, .cck-page .col-xs-1, .cck-page .col-xs-10, .cck-page .col-xs-11, .cck-page .col-xs-12, .cck-page .col-xs-2, .cck-page .col-xs-3, .cck-page .col-xs-4, .cck-page .col-xs-5, .cck-page .col-xs-6, .cck-page .col-xs-7, .cck-page .col-xs-8, .cck-page .col-xs-9 {
	padding-left: 15px;
	padding-right: 15px;
}
.cck-page .row-flex > [class*=col-] {
	float: none;
}
.cck-page .main-engine .btn-result-search {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-left: 0px;
}
.cck-page .main-engine .btn-result-search--mod {
	margin-top: auto;
}
/* @media only screen and (min-width:0px) */
.cck-page .main-engine .btn-result-search--mod {
	margin-bottom: 0px;
}
/* @media only screen and (min-width:1200px) */
.cck-page .main-engine .btn-result-search--mod {
	margin-bottom: 15px;
}
.cck-page .row-flex {
	display: -ms-flexbox;
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}
.cck-page .row-engine {
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}
/* @media only screen and (min-width:1200px) */
.cck-page .row-engine {
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
}
.cck-page .main-engine .row-engine {
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}
.panel-body {
	padding: 15px;
}
.cck-page .panel-body {
	background-color: #fff;
	position: relative;
}
.cck-page .panel-white > .panel-body {
	color: #333;
	background-color: #fff;
}
.cck-page .panel-engine .panel-body {
	padding: 10px 15px 15px 15px;
}
.cck-page .main-engine .panel-body {
	padding-bottom: 30px;
}
/* @media only screen and (min-width:0px) */
.cck-page .main-engine--mod .panel-body {
	padding: 10px 15px 15px 15px;
}
.cck-page .panel.panel-rounded > .panel-body {
	border-bottom-left-radius: 15pt;
	border-bottom-right-radius: 0px;
}
.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
}
.cck-page .panel {
	box-shadow: 1px 1px 18px rgba(0,0,0,0.17);
	transition: all .3s cubic-bezier(.25,.8,.25,1);
	border: 1px solid #f6f6f6;
}
.cck-page .panel-white {
	border-color: transparent;
}
.cck-page .panel.panel-rounded {
	border-radius: 0 15pt 0 15pt;
}
.cck-page .main-engine .panel {
	height: 100%;
}
.cck-page .main-engine--mod .panel {
	margin-bottom: 0px;
}
.cck-page .main-engine--mod {
	height: 100%;
}
.row {
	margin-right: -15px;
	margin-left: -15px;
}
.cck-page .cck-main {
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}
/* @media only screen and (min-width:0px) */
.cck-page .row {
	margin-left: -10px;
	margin-right: -10px;
}
/* @media only screen and (min-width:1200px) */
.cck-page .row {
	margin-left: -15px;
	margin-right: -15px;
}
.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.cck-page .no-padding--mini {
	padding-left: 5px;
	padding-right: 5px;
}
.cck-page .no-padding {
	padding: 0 !important;
}
.cck-page .workspace {
	background-color: transparent;
}
.ms-backgroundImage {
	background-image: none;
}
.cck-page {
	overflow-x: hidden;
}
#contentBox {
	margin-right: 20px;
	margin-left: 220px;
	min-width: 703px;
}
#contentBox {
	margin-left: auto !important;
	margin-right: auto !important;
}
#s4-bodyContainer {
	padding-bottom: 35px;
}
#s4-bodyContainer {
	padding-bottom: 0px !important;
}
#s4-workspace {
	overflow: auto;
	position: relative;
}
body #s4-workspace {
	height: 100%;
	position: inherit;
}
body, .ms-core-defaultFont, #pageStatusBar, .ms-status-msg, .js-callout-body {
	font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
	font-size: 13px;
}
body, .ms-core-defaultFont, .js-callout-body {
	color: #444;
}
body {
	margin: 0px;
	overflow: hidden;
	background-color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
}
body {
	margin: 0;
}
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.4285;
	color: #333;
	background-color: #fff;
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;
}
/* @media only screen and (min-width:0px) */
body, html {
	font-size: 12px;
}
/* @media only screen and (min-width:992px) */
body, html {
	font-size: 13px;
}
body {
	font-family: "Open Sans",sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	color: #555;
}
body {
	padding: 0;
	background-color: transparent !important;
	overflow: visible;
	overflow-x: hidden;
	min-height: 100%;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html {
	background: 0 0;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	font-weight: 400;
	position: relative;
	min-height: 100%;
	min-width: 768px;
}
a, .ms-link:visited {
	color: #0072c6;
	text-decoration: none;
}
a {
	background-color: transparent;
}
a {
	color: #337ab7;
	text-decoration: none;
}
a {
	color: #1072b9;
	font-size: 1em;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4285;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn-block {
	display: block;
	width: 100%;
}
.ladda-button {
	position: relative;
}
.ladda-button .ladda-label {
	position: relative;
	z-index: 3;
}
.ladda-button .ladda-spinner {
	position: absolute;
	z-index: 2;
	display: inline-block;
	width: 32px;
	height: 32px;
	top: 50%;
	margin-top: 0px;
	opacity: 0;
	pointer-events: none;
}
.ladda-button, .ladda-button .ladda-label, .ladda-button .ladda-spinner {
	-webkit-transition: .3s cubic-bezier(.175,.885,.32,1.275) all !important;
	-moz-transition: .3s cubic-bezier(.175,.885,.32,1.275) all !important;
	-ms-transition: .3s cubic-bezier(.175,.885,.32,1.275) all !important;
	-o-transition: .3s cubic-bezier(.175,.885,.32,1.275) all !important;
	transition: .3s cubic-bezier(.175,.885,.32,1.275) all !important;
}
.cck-page a {
	cursor: pointer;
	color: #1072b9;
}
[data-style=zoom-in].ladda-button, [data-style=zoom-in].ladda-button .ladda-label, [data-style=zoom-in].ladda-button .ladda-spinner, [data-style=zoom-out].ladda-button, [data-style=zoom-out].ladda-button .ladda-label, [data-style=zoom-out].ladda-button .ladda-spinner {
	-webkit-transition: .3s ease all !important;
	-moz-transition: .3s ease all !important;
	-ms-transition: .3s ease all !important;
	-o-transition: .3s ease all !important;
	transition: .3s ease all !important;
}
[data-style=zoom-in].ladda-button {
	overflow: hidden;
}
.cck-page .btn-block {
	display: block;
	width: 100%;
}
.cck-page .btn {
	font-size: 13px;
	min-width: unset;
}
.cck-page .btn-costa {
	font-weight: 600;
	line-height: 120%;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	text-shadow: none;
	position: relative;
	border-radius: 25px;
	float: none;
	padding: 10px 15px;
	border: 0;
	z-index: 0;
	overflow: hidden;
}
.cck-page .btn-costa--yellow {
	border: 1px solid #fed230;
	color: #063c5d;
	background-color: #fed230;
	transition: background-color .66s ease-in !important;
}
[data-style=zoom-in].ladda-button .ladda-label {
	position: relative;
	display: inline-block;
}
[data-style=zoom-in].ladda-button .ladda-spinner {
	left: 50%;
	margin-left: -16px;
	-webkit-transform: scale(0.2);
	-moz-transform: scale(.2);
	-ms-transform: scale(.2);
	-o-transform: scale(.2);
	transform: scale(0.2);
}
.ladda-button .ladda-progress {
	position: absolute;
	width: 0px;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(0,0,0,.2);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: .1s linear all !important;
	-moz-transition: .1s linear all !important;
	-ms-transition: .1s linear all !important;
	-o-transition: .1s linear all !important;
	transition: .1s linear all !important;
}